<mat-card>Basic card</mat-card>
<br />
<mat-card>
  <mat-card-title>
    Card Title
  </mat-card-title>
  <mat-card-content>
    This is the card content
  </mat-card-content>
  <mat-card-actions align='end'>
    <button mat-flat-button>Login</button>
  </mat-card-actions>
</mat-card>